.body-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #F6F7FA;
}

.banner-container {
    position: relative;
    text-align: center;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.body-carousel-section {
    margin-top: 2%;
}

.body-carousel {
    margin-bottom: 2%;
}

.carousel-section-header {
    display: flex;
    justify-content: space-between;
}

.carousel-section-header div {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
}

.carousel-section-header div.selected {
    border-bottom: 2px solid #FAA030;
}

.carousel-section-header div {
    border-bottom: 2px solid gainsboro;
}

.disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

.body-description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.description-card {
    width: 360px;
    padding: 20px;
}

.description-card-section {
    display: flex;
}

.body-medication-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.body-astrology-section {
    margin-top: 40px;
}

.body-donations-section {
    margin-bottom: 5%;
}