.carousel-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

.carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(33.333% - 20px);
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-element {
    width: 300px;
}

/* .card-with-margin {
    width: 330px;
    height: 280px;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 14px #00000066;
    border-radius: 2px;
    opacity: 1;
} */

.carousel-button {
    cursor: pointer;
}

.carousel-controls {
    display: flex;
    align-items: center;
    margin: 20px;
}

.inner-carousel {
    display: flex;
}

.see-more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

.card-container {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-with-margin>img {
    width: 200px;
    height: 200px;
}