/* Montserrat Regular */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* Montserrat Medium */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Montserrat Bold */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Roboto Regular */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Roboto Bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Playfair Display Regular */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');

/* Nunito 300*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


.font-playfair-regular {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-style: normal;
}

.font-montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.font-roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.font-nunito-300 {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.section-header {
    font-size: 25px;
    font-weight: 700;
}

.section-content {
    font-size: 20px;
    font-weight: 400;
}

.subSection-content {
    font-size: 16px;
    font-weight: 400;
}

.subSection-header {
    font-size: 18px;
    font-weight: 700;
}

.menu-header {
    font-size: 16px;
    font-weight: 700;
}

.privacy-header {
    font-size: 20px;
    font-weight: 700;
}

.privacy-span {
    font-weight: 700;
}

.puja-content {
    font-size: 16px;
    font-weight: 500;
}

.puja-subHeader {
    font-size: 15px;
    font-weight: 700;
}

.puja-subContent {
    font-size: 13px;
    font-weight: 700;
}

.form-header {
    font-size: 14px;
    font-weight: 700;
}

.color-white {
    color: white;
}

.color-orange {
    color: rgb(255, 131, 65);
}

.container-background {
    background-image: url('./assets/mandala.svg');
    background-repeat: repeat-y;
    background-size: 50%;
    background-position-x: -400px;
}