/* Montserrat Regular */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

/* Montserrat Medium */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Montserrat Bold */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Roboto Regular */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Roboto Bold */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Playfair Display Regular */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');


.font-playfair-regular {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-style: normal;
}

.font-montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-montserrat-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.font-montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.font-roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-roboto-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.section-header {
    font-size: 25px;
    font-weight: 700;
}

.section-content {
    font-size: 20px;
    font-weight: 400;
}

.subSection-content {
    font-size: 16px;
    font-weight: 400;
}

.subSection-header {
    font-size: 18px;
    font-weight: 700;
}

.menu-header {
    font-size: 16px;
    font-weight: 700;
}